/* body {
    background-image: url('/src/assets/carasol-1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
  }
   */
   body{
    background-color: pink;
   }